@tailwind utilities;
@tailwind base;

@layer utilities {
  .button-reset {
    @apply outline-none border-solid border;
  }

  .sign-input-base {
    @apply px-4 py-[15px] outline-none border-solid border-[1px] rounded-lg bg-white focus:border-blue_5534DA w-full;
  }
}

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}
